# Database Configuration
DB_USER=root
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=gin_auth

# Email Configuration (SMTP)
# IMPORTANT: Use an "App Password" for Gmail, not your login password.
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email
SMTP_PASSWORD=your_password
